<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxnJMzN5ftSg44aiqlcPwfvi8uq3jixgo</string>
	<key>GCM_SENDER_ID</key>
	<string>334238281324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citypulse.app</string>
	<key>PROJECT_ID</key>
	<string>citypulse-42abf</string>
	<key>STORAGE_BUCKET</key>
	<string>citypulse-42abf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334238281324:ios:ae2cfc3e60bb96f7a47249</string>
</dict>
</plist>